@model int
<td><a asp-action="details" class=" btn btn-warning" asp-route-id="@Model"><i class="fas fa-eye"></i>details </a></td>
<td><a asp-action="Edit" class=" btn btn-success" asp-route-id="@Model"><i class="fas fa-edit"></i>Edit </a></td>
<td><a asp-action="Delete" class=" btn btn-success" asp-route-id="@Model"><i class="fas fa-delete"></i>Delete </a></td>
