@using mvc3.viewmodels

@model Employeeviewmodel
@{
    ViewData["Title"] = "Create";
}

<h1>Create New Employee</h1>
<form  method="post" asp-action="Create">
    <partial name="\partialviews\createeditpartial.cshtml" ></partial>
    <div class="mt-3">
        <button class="btn-success" type="submit"> Save </button>
        <a class=" btn btn-danger" asp-action="Index">cancel</a>

    </div>
   
</form>
@section validation{
    <script>src = " ~\lib\jquery-validation\dist\jquery.validate.min.js"</script>
    <script>src = "~\lib\jquery-validation-unobtrusive\jquery.validate.unobtrusive.min.js"</script>
}

