@using mvc3.viewmodels
@model Employeeviewmodel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete @Model.name </h1>
<form  method= "post" asp-action="Delete">
    <partial name="\partialviews\detailsdelete.cshtml"></partial>

    <div class="mt-3">
        <button class="btn-success" type="submit"> Delete </button>
        <a class=" btn btn-danger" asp-action="Index">back</a>

    </div>
</form>
