@using mvc3.viewmodels
@model Employeeviewmodel
@{
    ViewData["Title"] = "details";
}
<h1>@Model.name  details</h1>
<form asp-action="details">
    <partial name="\partialviews\detailsdelete.cshtml"></partial>
    <div class="mt-3">
        <a aclass="btn-success" asp-action="Edit" asp-route-id="@Model.Id"> Edit</a>
        <a class=" btn btn-danger" asp-action="Index">cancel</a>

    </div>
</form>


