@using mvc3.viewmodels
@model Employeeviewmodel
<div class="form-group">
    <label asp-for="name"></label>
    <input readonly class="form-control" asp-for="name" />
    <span asp-validation-for="name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="age"></label>
    <input readonly class=form-control asp-for="age" />
    <span asp-validation-for="age" class="text-danger"></span>

</div>
<div class="form-group">
    <label asp-for="address"></label>
    <input readonly class="form-control" asp-for="address" />
    <span asp-validation-for="address" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="email"></label>
    <input readonly class="form-control" asp-for="email" />
    <span asp-validation-for="email" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="phone"></label>
    <input readonly class="form-control" asp-for="phone" />
    <span asp-validation-for="phone" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="salary"></label>
    <input readonly class="form-control" asp-for="salary" />
    <span asp-validation-for="salary" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="isactive"></label>
    <input readonly asp-for="isactive" />
    <span asp-validation-for="isactive" class="text-danger"></span>
</div>